<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body id="page-top">
    <!-- Navigation-->
    <nav th:replace="/fragments/navbar :: nav"></nav>
    <!-- Masthead-->
    <header class="masthead min-vh-100 align-items-center centrado">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center bi-text-left">
                <div class="col-lg-8 text-white espacios">
                    <div th:if="${error} != null" class="card text-white bg-danger mb-3">
                        <div class="card-body">
                            <h5 class="card-title">¡Ups!</h5>
                            <p class="card-text" th:text="${error}"></p>
                        </div>
                    </div>
                    <h1>Modificar autor</h1>
                    <div>
                        <!-- Uso de una variable de pre-procesamiento -->
                        <form class="row g-3" th:action="@{/autores/modificar/__${autor.id}__}" method="POST">
                            <!-- Input invisible con el valor del id y el nombre "id" -->
                            <input hidden th:value="${autor.id}" name="id">
                            <div class="col-md-6">
                                <label for="inputTitulo" class="form-label">Nombre nuevo del Autor</label>
                                <!-- Auto-completo el valor del input con la etiqueta th:value="${autor.nombre}" para mejorar UX -->
                                <input type="text" class="form-control" id="inputTitulo" th:value="${autor.nombre}"
                                    name="nombre" placeholder="Ingrese el nombre de su autor..." required>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">¡Actualizar autor!</button>
                                <a type="button" class="btn btn-secondary lateral_margins"
                                    th:href="@{/autores/listado_autores}">Regresar al Listado de Autores</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer-->
    <footer th:replace="/fragments/footer :: footer"></footer>
    <!-- Scripts from Bootstrap -->
    <script th:replace="/fragments/bootstrapjs :: script"></script>
</body>

</html>