<footer class="bg-dark footer-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 footer-column">
                <div class="small text-muted text-white-75 fw-bolder footer-item">
                    <a th:href="@{/#libros}">Libros</a>
                </div>
                <div class="small text-muted text-white-75 footer-item">
                    <a th:href="@{/libros/nuevo_libro}">Ingresar Libro</a>
                </div>
                <div class="small text-muted text-white-75 footer-item">
                    <a th:href="@{/libros/listado_libros}">Listado de Libros</a>
                    <hr>
                </div>
            </div>
            <div class="col-sm-2 footer-column">
                <div class="small text-muted text-white-75 fw-bolder footer-item">
                    <a th:href="@{/#autores}">Autores</a>
                </div>
                <div class="small text-muted text-white-75 footer-item">
                    <a th:href="@{/autores/nuevo_autor}">Ingresar Autor</a>
                </div>
                <div class="small text-muted text-white-75 footer-item">
                    <a th:href="@{/autores/listado_autores}">Listado de Autores</a>
                    <hr>
                </div>
            </div>
            <div class="col-sm-2 footer-column">
                <div class="small text-muted text-white-75 fw-bolder footer-item">
                    <a th:href="@{/#editoriales}">Editoriales</a>
                </div>
                <div class="small text-muted text-white-75 footer-item">
                    <a th:href="@{/editoriales/nueva_editorial}">Ingresar Editorial</a>
                </div>
                <div class="small text-muted text-white-75 footer-item">
                    <a th:href="@{/editoriales/listado_editoriales}">Listado de Editoriales</a>
                    <hr>
                </div>
            </div>
            <div class="col-sm-2 footer-column">
                <div class="small text-muted text-white-75 fw-bolder footer-item">
                    <a th:href="@{/#clientes}">Clientes</a>
                </div>
                <div class="small text-muted text-white-75 footer-item">
                    <a th:href="@{/clientes/nuevo_cliente}">Ingresar Cliente</a>
                </div>
                <div class="small text-muted text-white-75 footer-item">
                    <a th:href="@{/clientes/listado_clientes}">Listado de Clientes</a>
                    <hr>
                </div>
            </div>
            <div class="col-sm-2 footer-column">
                <div class="small text-muted text-white-75 fw-bolder footer-item">
                    <a th:href="@{/#prestamos}">Préstamos</a>
                </div>
                <div class="small text-muted text-white-75 footer-item">
                    <a th:href="@{/prestamos/nuevo_prestamo}">Ingresar Préstamo</a>
                </div>
                <div class="small text-muted text-white-75 footer-item">
                    <a th:href="@{/prestamos/listado_prestamos}">Listado de Préstamos</a>
                    <hr>
                </div>
            </div>
            <div class="col-sm-2 footer-column">
                <div class="small text-muted text-white-75 fw-bolder footer-item">
                    <a th:href="@{/#about}">Acerca de esta proyecto</a>
                    <hr>
                </div>
            </div>
            <div class="col-md-12">
                <div class="small text-muted text-white-75 text-center espacios">
                    Copyright &copy; 2021 - Proyecto creado por <a href="https://www.linkedin.com/in/matias-luca-soto/"
                        target="_blank">MLS Dev</a>
                </div>
            </div>
        </div>
    </div>
</footer>