.whole_window {
  width: 100%;
  height: 100vh;
}

.espacios {
  margin-top: 30px;
  margin-bottom: 30px;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado_textos {
  text-align: center;
}

.index_btn a {
  margin: 10px;
}
