<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
        content="Administrador de Libros, Autores y Editoriales en una base de datos usando Spring Boot, MySQL, Java 8 y Bootstrap Themes" />
    <meta name="author" content="Matias Luca Soto - MLS Dev" />
    <title>Libreria Spring</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-shrink" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" th:href="@{/}">Libreria Spring</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/#about}">Acerca de</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/#libros}">Libros</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/#autores}">Autores</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/#editoriales}">Editoriales</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/#clientes}">Clientes</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/#prestamos}">Préstamos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead min-vh-100 align-items-center centrado">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center bi-text-left">
                <div class="col-lg-9 text-white espacios">
                    <div th:if="${error} != null" class="card text-white bg-danger mb-3">
                        <div class="card-body">
                            <h5 class="card-title">¡Ups!</h5>
                            <p class="card-text" th:text="${error}"></p>
                        </div>
                    </div>
                    <h1>Modificar editorial</h1>
                    <div>
                        <!-- Uso de una variable de pre-procesamiento -->
                        <form class="row g-3" th:action="@{/editoriales/modificar/__${editorial.id}__}" method="POST">
                            <!-- Input invisible con el valor del id y el nombre "id" -->
                            <input hidden th:value="${editorial.id}" name="id">
                            <div class="col-md-6">
                                <label for="inputTitulo" class="form-label">Nombre nuevo de la Editorial</label>
                                <!-- Auto-completo el valor del input con la etiqueta th:value="${editorial.nombre}" para mejorar UX -->
                                <input type="text" class="form-control" id="inputTitulo" th:value="${editorial.nombre}"
                                    name="nombre" placeholder="Ingrese el nombre de su editorial..." required>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">¡Actualizar editorial!</button>
                                <a type="button" class="btn btn-secondary lateral_margins"
                                    th:href="@{/editoriales/listado_editoriales}">Regresar al Listado de Editoriales</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer-->
    <footer class="bg-dark py-5">
        <div class="container px-4 px-lg-5">
            <div class="small text-center text-muted text-white-75">Copyright &copy; 2021 - MLS Dev</div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>